<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Search & Page</title>
</head>
<body>
<h3>TÌM KIẾM VÀ PHÂN TRANG</h3>
<form action="/product/search-and-page" method="post">
    <input name="keywords" th:value="${session.keywords}" placeholder="Keywords?">
    <button>Search</button>
</form>
<hr>
<table border="1" style="width:100%">
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Price</th>
        <th>Date</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="item: ${page.content}">
        <td th:text="${item.id}"></td>
        <td th:text="${item.name}"></td>
        <td th:text="${#numbers.formatDecimal(item.price, 0, 'COMMA', 2, 'POINT')}"></td>
        <td th:text="${#dates.format(item.createDate, 'yyyy-MM-dd')}"></td>
    </tr>
    </tbody>
</table>
<div style="text-align: center; margin-top: 10px;">

    <a th:href="@{|/product/search-and-page?p=0|}">First</a>

    <a th:href="@{|/product/search-and-page?p=${page.number - 1}|}"
       th:if="${page.number > 0}">Previous</a>

    <a th:if="${page.hasNext()}"
       th:href="@{|/product/search-and-page?p=${page.number + 1}&keywords=${keywords}|}">Next</a>

    <span th:unless="${page.hasNext()}" style="color: grey;">Next</span>

    <a th:href="@{|/product/search-and-page?p=${page.totalPages - 1}|}">Last</a>

</div>
<ul>
    <li>Số thực thể hiện tại: <b th:text="${page.numberOfElements}"></b></li>
    <li>Trang số: <b th:text="${page.number}"></b></li>
    <li>Kích thước trang: <b th:text="${page.size}"></b></li>
    <li>Tổng số thực thể: <b th:text="${page.totalElements}"></b></li>
    <li>Tổng số trang: <b th:text="${page.totalPages}"></b></li>
</ul>
</body>
</html>